@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color : #34D399;
    --focus-text: tan;
    --off-white: #F8F0E3;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #7F1D1D;
    color: #FCA5A5;
}
input,label{
    display: block;
    margin: 1rem auto;
}
h1{
    margin: 1rem;
    margin-bottom: 2rem;
}
button{
    color: #FCA5A5;
    background: transparent;
    border: 1px solid #FCA5A5;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-weight: bold;
    /* border: none; */
    max-width: 200px;
    cursor: pointer;
}
#output{
    font-size: larger;
    font-weight: bold;
    color: #FCA5A5;
    margin: 1rem auto;
}
img{
    width: 170px;
}
lottie-player{
    margin: auto;
    display: none;
}
#privacy{
    display: inline;
    margin: auto;
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
}
label{
    margin-top: 2rem;
}
input{
    padding: 0.5rem;
    background: #FCA5A5;
    border-radius: 1rem;
    border: 1px solid #FCA5A5;
    font-size: 17px;
    text-align: center;
}
ul{
    padding-inline-start: 0;
}
.fab,.fas{
    font-size: 30px;
    color: #FCA5A5;
    margin: 0 0.5rem;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
